@use '@angular/material' as mat;

@include mat.core();

$primary: mat.m2-define-palette(mat.$m2-indigo-palette, 600);
$accent: mat.m2-define-palette(mat.$m2-purple-palette, A200);
$warn: mat.m2-define-palette(mat.$m2-red-palette);

$theme: mat.m2-define-light-theme((
  color: (primary: $primary, accent: $accent, warn: $warn),
  typography: mat.m2-define-typography-config(),
  density: 0
));

@include mat.all-component-themes($theme);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
